*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(to right, #8E54E9, #4776E6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #ffffff;
  border-radius: 1rem;
  width: 90%;
  max-width: 70rem;
  padding: 3rem;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.form h1 {
  font-weight: normal;
  text-align: center;
}

.form .inputs {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width:50rem) {
  .form .inputs {
    flex-direction: row;
  }
}

.form label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  outline: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.form input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

.form input::placeholder {
  color: #4777e65e;
}

.form input[type="submit"] {
  display: block;
  margin: auto;
  border: none;
  background: linear-gradient(to right, #8E54E9, #4776E6);
  color: #fff;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background: linear-gradient(to right, #6f41b8, #3860bc);
}

.form #result {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
}